*{
    font-family: 'Zen Maru Gothic', sans-serif;
    padding: 0;
    margin: 0;
    width:100%;
}

img{
    display: block;
    aspect-ratio: 1;
}

h2{
    letter-spacing:0.1em;
}

p , li , h3{
    color: #606060;
}

.off{
    display: none;
}



#contents h2{
    color: #fff;
    background-color: #606060;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    margin: 0 auto;
}


/*ヘッダー*/
#header{
    height: 100px;
    background-color: #e383a8;
    color: #fff;
    text-align: center;
    padding: 20px 0 ;
    position: fixed;
    z-index: 100;
}

.header_menu{
    padding-top: 25px;
}

#header div{
    display: flex;
    justify-content: center;
    position: relative;
    flex-grow: 1;
}

#header img{
    width: 30px;
}

#header h2{
    font-size: 18px;
    font-weight: 500;
    width: fit-content;
    padding-left: 10px;
    padding-top: 2px;
}

.hamburger{
    display: none;
}

#nav{
    display: none;
}

/*メニュー間の棒線*/
.header_menu div::after{
    background-color: #fff;
    position: absolute;
    top:0;
    left:100%;
    content:"";
    width: 1px;
    height: 100%;
}

.header_menu div:last-child:after{
    content: none;
}


/*アーチ部分*/
#space{
    overflow: hidden;
}

#head_space{
    height: 140px;
}

.arch{
    height: 100px;
    background-color: #e383a8;
}

.arch_bottom{
    border-top-right-radius: 1000px 200px;
    border-top-left-radius: 1000px 200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 400px;
    margin-left: -100px;
    margin-right: -100px;
    background-color: #fff;
}


/*ABOUT ME*/
#about{
    width: 70%;
    padding-bottom: 100px;
    border-bottom: 2px dashed #606060;
    text-align: center;
    margin: auto;
}

#about img{
    margin: auto;
}

#my_data{
    display: flex;
    margin: 30px 0;
}

#me{
    width: fit-content;
    margin: 30px auto;
}

#photo{
    width: 260px;
    height: 260px;
    border-radius: 50%;
}

#name{
    font-size: 26px;
    font-weight: bold;
    letter-spacing:0.05em;
}

/*about内で選んだ時に出てくる部分*/
#select_content{
    width: 50%;
    margin: auto;
}

.select_item{
    width:100%;
    height: 250px;
    border-radius: 10px;
    padding: 20px 0;
    position: relative;
}

.select_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#select_content img , h3{
    padding-top: 10px;
}

#select_content p , ul{
    padding: 20px 0;
    font-size: 20px;
}

#favorite p{
    padding: 0;
}

#select_content ul{
    list-style: none;
}

#select_content img{
    width: 40px;
}

#select_content .sub_text{
    font-size: 15px;
    padding: 0;
}

#favorite li:nth-child(1){
    padding-bottom: 10px;
}

/*about内で選べる部分*/

.select_arrow_sp{
    display: none;
}

.prof_content_sp{
    display: none;
}

.prof_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.prof_item{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
}

.inner{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.prof_item img{
    width:40px;
    padding-bottom: 5px;
}

.prof_item p{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.deco{
    border-bottom: 3px solid #606060;
}


/*HISTORY*/
#history{
    margin-top: 100px;
    width: 60%;
    margin: 50px auto 0 auto;
    padding-bottom: 50px;
}

#history_content{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    overflow-y: scroll;
    margin-top: 50px;
}

#history_content dd span{
    background: linear-gradient(transparent 70%, #e5f2ff 70%);
}

#history .year{
    font-size: 25px;
    font-weight: 500;
    width: 15%;
    
}

/*年表の棒部分の色付け*/
#history_content *:nth-child(2){
    border-color: #ffffea;
} /*0歳*/

#history_content *:nth-child(4){
    border-color: #eaffea;
} /*1歳～14歳*/

#history_content *:nth-child(6){
    border-color: #e5fff2;
} /*15歳*/

#history_content *:nth-child(8){
    border-color: #efffff;
} /*16歳～18歳*/

#history_content *:nth-child(10){
    border-color: #efefff;
} /*19歳*/

#history_content *:nth-child(12){
    border-color: #eddbff;
} /*20歳～22歳*/

#history_content *:nth-child(14){
    border-color: #ffeaff;
} /*22歳*/

#history_content *:nth-child(16){
    border-color: #ffdbed;
} /*24歳*/

#history_content *:nth-child(18){
    border-color: #fff4ea;
} /*25～26歳*/


#history dd{
    width: 75%;
    padding-left: 5%;
    padding-bottom: 20px;
    border-left: solid 10px ;
}

#history .age{
    font-size: 25px;
    font-weight: 500;
    padding: 0;
}


/*SKILLS*/
#skills{
    width: 70%;
    padding: 60px 0;
    border-top: 2px dashed #606060;
}

#skills h2{
    color: #fff;
    background-color: #606060;
    padding: 10px;
    width: fit-content;
    text-align: center;
    border-radius: 5px;
}

#skills ul{
    display: flex;
    justify-content: center;
}

#skills li{
    list-style: none;
    width: 170px;
    height: 170px;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin: 50px 30px;
    line-height:170px;
}

#skills ul :nth-child(1){
    border-radius: 44% 56% 70% 30% / 30% 55% 45% 70%;
}

#skills ul :nth-child(2){
    border-radius: 78% 22% 53% 47% / 71% 55% 45% 29%;
}

#skills ul :nth-child(3){
    border-radius: 49% 51% 64% 36% / 56% 79% 21% 44%;
}


/*WORKS*/
#works{
    width: 70%;
    height: fit-content;
}

#works .my_work{
    display: flex;
    justify-content:space-around;
    margin: 50px 0;
    align-items: center;
    list-style: none;
}

#works .work_item{
    flex-shrink: 0;
    border-radius: 10px;
    vertical-align: middle;
}


#works .work_item_pc{
    width: 35%;
}

#works .work_item_pc_img{
    width:100%;
    aspect-ratio: 4/3;
}

#works .work_item_sp{
    width: 20%;
    margin: 0 10% 0 5%;
}

#works .work_item_sp_img{
    width: 100%;
    aspect-ratio: 2/3;
}


/*github*/
#github{
    width: fit-content;
    margin: 50px auto;
    text-align: center;
}

#github img{
    width: 50px;
    margin: auto;
}


/*TOPに戻るボタン*/
.top_btn{
    width:60px;
    height: 60px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}

.top_link{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #e383a8;
    border-radius: 50%;
}

.top_text{
    position: relative;
    top: -53%;
    left: 21%;
    color: #fff;
    letter-spacing:0.1em;
}

.top_text::before{
    content: "〈";
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
}

.top_text::after{
    content: "〈";
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
}

.btn_on{
    opacity: 1;
    visibility: inherit;
}


/*フッター*/
#footer{
    width: 100%;
    background-color: #e383a8;
    height: 40px;
    position: relative;
}

#footer p{
    position: absolute;
    color: #fff;
    font-size: 15px;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}


/*↓中央寄せ用クラス*/
.center{
    margin: 0 auto;
}


/*↓背景色用クラス*/
.bc_green{
    background-color: #e5fff2;
}

.bc_aqua{
    background-color: #e5f2ff;
}

.bc_pink{
    background-color: #ffe5ff;
}

.bc_orange{
    background-color: #fff4ea;
}

/*↓文字色用クラス*/
.color_yellow{
    color:#f7dd80;
}

.color_green{
    color: #d6ffad;
}

.color_eme{
    color: #a8ffd3;
}

.color_aqua{
    color: #8bd1dd;
}

.color_blue{
    color: #9393ff;
}

.color_purple{
    color: #c68eff;
}

.color_pink{
    color: #ffccff;
}

.color_red{
    color: #e46c8f;
}

.color_orange{
    color: #efae45;
}


/*メディアクエリ*/
@media screen and (max-width:900px) {
    #header {
        padding: 10px 0;
    }

    #head_space {
        height: 120px;
    }

    #header img{
        width: 15px;
        height: 15px;
        margin: auto 0;
    }

    #header h2{
        font-size: 13px;
        font-weight: 500;
        padding-left: 5px;
    }

    #my_data{
        margin: 20px 0;
    }

    #photo {
        width: 150px;
        height: 150px;
    } 

    #me{
        height: fit-content;
        margin: auto;
    }

    #me p{
        padding-top: 20px;
    }

    .prof_item{
        margin: 0 30px 10px 30px;
    }

    #history .year, #history .age {
        font-size: 20px;
        padding: 0;
    }

    #history p {
        font-size: 14px;
    }

    #skills li{
        width: 150px;
        height: 150px;
        font-size: 80%;
        line-height: 150px;
        margin: 30px;
    }

    #works .work_item_pc{
        width: 40%;
    }

    #works .work_item_sp {
        width: 30%;
    }
}

@media screen and (max-width:650px) {
    #header{
        height: fit-content;
        padding: 0;
        height: 60px;
        display: flex;
    }

    #header h1{
        padding: 5px 0 5px 20px;
        text-align: left;
        font-size: 25px;
        line-height: 50px;
    }

    #header .header_menu{
        display: none;
    }

    #nav {
        display: block;
        width: 130px;
        font-size: 15px;
        background-color: #e383a8;
        border-radius: 0 0 0 10px;
    }

    .nav_list{
        padding-top: 70px;
    }

    #nav ul{
        list-style: none;
        font-size: 17px;
    }

    .nav_item{
        color: #fff;
        padding: 5px;
        transition: all 0.5s;
    }

    .nav_off{
        position: fixed;
        right: -100%;
        transition: all 0.5s;
    }

    .nav_on{
        position: fixed;
        right: 0;
        transition: all 0.5s;
    }

    #header .hamburger{
        display: block;
        width: 38px;
        height: 38px;
        margin: auto 10px auto 0;
        flex-shrink: 0;
    }

    .hamburger_line{
        display: block;
        width:65%;
        height: 2px;
        background-color: #fff;
        margin: 0 auto;
    }

    .hamburger_line-1{
        position: relative;
        top:8px;
        transition: all 0.5s;
    }

    .hamburger_line-2{
        position: relative;
        top:16px;
        transition: all 0.5s;
    }

    .hamburger_line-3{
        position: relative;
        top:24px;
        transition: all 0.5s;
    }

    .nav_open1{
        transform: rotate(45deg);
        top: 18px;
    }

    .nav_open2{
        width: 0;
    }

    .nav_open3{
        transform: rotate(-45deg);
        top: 14px;
    }

    #head_space{
        height: 60px;
    }

    .arch {
        height: 50px;
    }

    #about,#history{
        width: 80%;
    }

    #about{
        padding-bottom: 50px;
    }

    #my_data{
        display: block;
        width: 80%;
        margin: auto;
        position: relative;
    }

    #me{
        margin-bottom: 20px;
    }

    #me p{
        padding: 0;
    }

    .prof_content{
        display: none;
    }

    .prof_item_sp {
        width:30px;
        height: 30px;
        margin: 20px 0 0 0;
        border-radius: 50%;
    }

    .prof_content_sp {
        display: flex;
        width: 50%;
        margin: auto;
        justify-content: space-between;
    }

    .prof_content_sp button{
        border: none;
        background-color: transparent;
        padding: 0;
    }

    #select_content{
        width: 100%;
        display: block;
        overflow: hidden;
    }

    #select_content_set{
        display: flex;
        position: relative;
    }

    #select_content .select_item{
        width: 100%;
        height: 300px;
        display: block;
        flex-shrink: 0;
        padding: 0;
    }

    .select_inner{
        padding: 20px 0;
    }

    .select_arrow_sp{
        display: block;
        border: none;
        background-color:  transparent;
        width: fit-content;
        height: fit-content;
        border-radius: 50%;
    }

    #select_content .select_arrow_sp img{
        padding: 0;
        width: 20px;
        height: 20px;
    }

    .arrow_left{
        position: absolute;
        z-index: 10;
        left: -4%;
        top: 68%;
    }

    .arrow_right{
        position: absolute;
        z-index: 10;
        right: -4%;
        top: 68%;
    }


    #history #history_content .year span{
        display: none;
    }

    #skills ul{
        display: block;
        width: 50%;
        margin: auto;
    }

    #skills ul li{
        width:100%;
        height: 50px;
        line-height: 50px;
        margin: 10px auto;
    }

    #works .my_work {
        display: block;
        margin: 0;
        padding: 0;
    }

    #works .work_item_pc {
        width: 80%;
        margin: auto;
        padding: 20px;
    }

    #works .work_item_sp {
        width: 60%;
        margin: auto;
        padding: 20px;
    }

    #footer p {
        white-space: nowrap;
    }

}